@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Inter";
}

.frame-size {
  margin: auto;
  max-width: 360px;
}

.banner-container {
  background: radial-gradient(
    154.02% 59.94% at 50% 13.25%,
    #6ae755 0%,
    #1ba503 57.46%
  );
  padding: 32px 16px 24px;
  text-align: center;
  height: 385px;
}
.banner-body {
  background-color: #fff;
  padding: 15px;
  min-height: 500px;
}

.banner-move {
  left: 50%;
  margin: auto;
  position: absolute;
  text-align-last: center;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(213, 213, 213, 0.3);
  border-radius: 8px;
  width: 328px;
}

.box-space {
  padding-left: 25px;
  padding-right: 25px;
}

.text-name p {
  text-align-last: left;
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 700;
}

.text-lot p {
  text-align-last: right;
  padding-left: 0;
  color: #2dbe60;
  font-size: 12px;
  font-weight: 700;
  padding-top: 4px;
}

.emoji {
  font-size: 35px;
  background-color: #e4f6e8;
  border-radius: 10px;
  margin-bottom: 0;
}

.progress-bar-lot {
  height: 8px !important;
}

.total-lot {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 2px;
  color: #919090;
}

.total-lot-desc {
  margin-bottom: 2px;
  font-size: 10px;
  font-weight: 400;
  color: #9e9e9e;
}

.title-funding {
  color: #5e798d;
  font-weight: 600;
  font-size: 24px;
}

.chip-card {
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 99px;
  padding: 4px 8px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 4px;
  margin-bottom: 4px;
}

.chip-card-text {
  margin-bottom: 0;
  font-size: 10px;
  color: #425766;
}

.chip-category {
  background: #ffffff;
  border: 1px solid #bde8c7;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 0;
}

.code-text {
  color: #2dbe60;
  font-size: 11px;
  margin-bottom: 0;
}

.card-add {
  border: none;
  box-shadow: 0px 3px 3px #d9d6d6;
  border-radius: 8px;
}

.title-project {
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 0;
  height: 35px;
  font-weight: bold;
  color: #425766;
}

.title-company {
  font-size: 12px;
  color: #516a7c;
}

.progress-bar-funding {
  height: 4px !important;
}

.text-funding {
  font-size: 10px;
  font-weight: bold;
  color: #2dbe60;
  margin-bottom: 2px;
}

.detail-lot {
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
  color: #9e9e9e;
}

.text-detail-lot {
  font-size: 12px;
}

.project-link {
  text-decoration: none !important;
  color: inherit;
}

.project-link:hover {
  color: inherit;
}

.card-cta {
  background: radial-gradient(
    87.04% 133.41% at 9.6% 0%,
    #6ae755 0%,
    #1ba503 57.46%
  );
  border-radius: 8px;
  /* width: 328px; */
  height: 160px;
  margin-top: 100px;
  padding: 20px;
}

.img-back {
  background-color: #fff;
  border-radius: 8px;
  padding: 6px;
}

.title-cta {
  font-size: 17px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 4px;
}

.desc-cta {
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

.btn-cta {
  background-color: #fff;
  color: #00b242;
  font-size: 17px;
  font-weight: 400;
}

.text-cs {
  margin-top: 20px;
  font-size: 17px;
  font-weight: 700;
}

.btn-cs {
  border: 1px solid #2dbe60;
  color: #2dbe60;
}

.btn-cs:hover {
  color: #339254;
}

.icon-wa {
  height: 18px;
  margin-bottom: 3px;
}

.menu-link a {
  text-decoration: none;
  color: #222222;
  font-size: 17px;
  font-weight: 700;
}

.menu-link2 a {
  text-decoration: none;
  color: #4a4a4a;
  font-size: 17px;
  font-weight: 400;
}

.footer-cuan {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ecfbea 100%);
  padding: 20px;
}

.footer-sign {
  font-size: 17px;
  color: #4a4a4a;
  letter-spacing: 0.3px;
  margin-bottom: 0;
}

.footer-menu p {
  font-size: 10px;
  color: #9e9e9e;
  margin-bottom: 0;
}

.footer-menu a {
  text-decoration: none;
}

.footer-menu-active {
  color: #2dbe60 !important;
}

.banner-profile {
  text-align-last: center;
  background-color: #fff;
  padding-top: 20px;
}

.box-space {
  padding-left: 25px;
  padding-right: 25px;
}

.menu-back p {
  text-align-last: left;
  font-size: 17px;
  color: #222222;
  font-weight: 700;
}

.title-reward {
  color: #425766;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 8px;
}

.background-reward {
  background: #f5f5f7;
  border-radius: 8px;
  padding: 15px;
}

.reward-active {
  background: #00b242 !important;
  box-shadow: 0px 4px 4px rgb(213 213 213 / 30%);
}

.subtitle-reward {
  font-size: 17px;
  color: #425766;
}

.desc-reward {
  font-size: 14px;
  color: #425766;
}

.desc-reward-active {
  color: #fff;
}

.container-sm {
  max-width: 470px;
  padding-left: 16px;
  padding-right: 16px;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #768c9e;
  padding-left: 0;
}

#progressbar .active {
  color: #425766;
}

#progressbar li {
  list-style-type: none;
  font-size: 10px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 700 !important;
  margin-bottom: 0;
  text-align-last: center;
}

#progressbar li:before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding-left: 10px;
  position: inherit;
  z-index: 1;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 6px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 10px;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #14a2ff;
}

.text-decoration-none {
  text-decoration: none;
}

.container-range-profile .progress {
  height: 8px;
}

@media screen and (max-width: 576px) {
  .container-sm {
    padding-left: 0;
    padding-right: 0;
  }
}
