{% extends "layout.html" %}
{% block content %}
  <style>
    .title-login {
      color: #222222;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .desc-login {
      font-size: 14px;
      color: #425766;
      margin-bottom: 40px;
    }

    .label-input {
      font-size: 14px;
      font-weight: 700;
    }

    ::placeholder {
      font-size: 14px;
      color: #9E9E9E;
    }

    .field-icon {
      float: right;
      margin-right: 5px;
      margin-top: -29px;
      position: relative;
      z-index: 2;
      font-size: 21px;
    }

    .lupa-password {
      font-size: 14px;
      color: #00912D;
      float: right;
    }

    .card-btn-buy {
      text-align: center;
      display: grid;
    }

    .btn-signin {
      background: #2DBE60;
      box-shadow: 0px 6px 6px rgb(213 213 213 / 40%);
      border-radius: 8px;
      color: #fff;
    }

    .btn-signin:hover {
      color: #fff !important;
    }

    .btn-prospektus {
      color: #2DBE60;
      margin-top: 15px;
      font-size: 17px;
      outline: auto;
      margin-bottom: 15px;
    }

    .btn-prospektus:hover  {
      color: #2DBE60 !important;
    }

    .carousel-indicators {
      margin-bottom: 10px;
      margin-left: 10px;
      justify-content: unset;
    }

    .carousel-indicators [data-bs-target] {
      height: 8px;
      width: 8px;
      background-color: #D5D5D5;
      border-radius: 50%;
      display: inline-block;
    }

    .carousel-indicators .active {
      background-color: #2DBE60;
      /* border-radius: 25px;
      height: 8px;
      width: 15px; */
    }
    
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      border-color: #fff;
      color: #2DBE60;
    }

    .nav-link {
      color: #9E9E9E;
    }

    .nav-tabs .nav-link, .nav-tabs {
      border-bottom: transparent;
      border: transparent;
      font-size: 14px;
    }

    .nav-link:focus, .nav-link:hover {
      color: #9E9E9E;
    }

    .detail-code-text {
      color: #2DBE60;
      font-size: 17px;
      font-weight: 700;
      margin-bottom: 0;
    }

    .detail-font-17 {
      font-size: 17px;
    }

    .detail-weight-17 {
      font-weight: 700;
    }

    .progress-bar-detail {
      height: 8px !important;
    }

    .title-proyek {
      height: 45px;
    }

    .title-bisnis p {
      font-size: 20px;
      font-weight: 700;
      color: #425766;
      text-align-last: left;
    }

    .desc-bisnis p {
      font-size: 14px;
      text-align-last: left;
      color: #425766;
    }

    .title-location {
      font-size: 12px;
      font-weight: 700;
      margin-top: 15px;
      text-align-last: left; 
    }

    .desc-location {
      font-size: 14px;
      text-align-last: left;
      color: #425766;
    }

    .border-kalku {
      border: 1px solid #E5E5E5;
      padding: 8px 16px;
      border-radius: 8px;
    }

    .icon-info {
      font-size: 21px;
      color: #000000;
    }


  </style>

  <div class="frame-size">
    <div class="banner-profile">
      <div class="row box-space" style="margin-bottom: 15px;">
        <div class="col-1 col-md-1 menu-back" style="text-align-last: right; padding-left: 0;">
          <img width="8" src="{{ url_for('static', filename='images/master_cuan/chevron_left.png') }}">
        </div>
        <div class="col-6 col-md-6 menu-back" style="padding-left: 0px;">
          <p style="margin-top: 2px;">Detail Project</p>
        </div>
      </div>

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='images/BV_Certification_ISO27001.png') }}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='images//BV_Certification_ISO27001.png') }}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='images//BV_Certification_ISO27001.png') }}" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

      <nav class="mt-3">
        <div class="nav nav-tabs scrollmenu" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button" role="tab" aria-controls="nav-info" aria-selected="true">Info Proyek</button>
          <button class="nav-link" id="nav-desc-bisnis-tab" data-bs-toggle="tab" data-bs-target="#nav-desc-bisnis" type="button" role="tab" aria-controls="nav-desc-bisnis" aria-selected="false">Deskripsi Bisnis</button>
          <button class="nav-link" id="nav-location-tab" data-bs-toggle="tab" data-bs-target="#nav-location" type="button" role="tab" aria-controls="nav-location" aria-selected="false">Lokasi</button>
          <button class="nav-link" id="nav-kalkulator-tab" data-bs-toggle="tab" data-bs-target="#nav-kalkulator" type="button" role="tab" aria-controls="nav-kalkulator" aria-selected="false">Kalkulator Investasi</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
          <div class="card" style="border:none;">
            <div class="card-body" style="padding: 15px; text-align-last: left;">
              <div class="row">
                <div class="col-9 col-md-9">
                  <p class="detail-code-text">CAPT</p>
                </div>
                <div class="col-3 col-md-3" style="padding-left: 0;text-align-last: center;">
                  <p class="code-text chip-category text-center">MARITIM</p>
                </div>
              </div>
              <p class="title-project detail-font-17 title-proyek">Kapal Tug & Barge</p>
              <p class="card-title title-company detail-font-17">PT Samudera Rezeki</p>
              
              <div class="row">
                <div class="col-9 col-md-9">
                  <p class="card-title detail-font-17 detail-weight-17 mb-0"><span>Rp</span> 9.999.999.999</p>
                </div>
                <div class="col-3 col-md-3" style="padding-left: 0;">
                  <p class="card-title detail-font-17 detail-weight-17 mb-0">00</p>
                </div>
              </div>
              <div class="row">
                <div class="col-9 col-md-9">
                  <p class="card-title title-company">dari Rp 0.000.000.000 Total Pendanaan</p>
                </div>
                <div class="col-3 col-md-3" style="padding-left: 0;">
                  <p class="card-title title-company">Sisa Hari</p>
                </div>
              </div>
              <div class="progress progress-bar-detail">
                <div class="progress-bar" style="background-color: #2DBE60; width: 20%" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="row mt-3">
                <div class="col-7 col-md-7">
                  <p class="card-title detail-lot">Harga per Lot</p>
                </div>
                <div class="col-5 col-md-5" style="padding-left: 0;">
                  <p class="card-title detail-lot">Jumlah Lot</p>
                </div>
              </div>
              <div class="row">
                <div class="col-7 col-md-7">
                  <p class="card-title detail-font-17 detail-weight-17 mb-0"><span>Rp</span>1.000.000</p>
                </div>
                <div class="col-5 col-md-5" style="padding-left: 0;">
                  <p class="card-title detail-font-17 detail-weight-17 mb-0">00</p>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-7 col-md-7">
                  <p class="card-title detail-lot">Periode Dividen</p>
                </div>
                <div class="col-5 col-md-5" style="padding-left: 0;">
                  <p class="card-title detail-lot">Estimasi Dividen</p>
                </div>
              </div>
              <div class="row">
                <div class="col-7 col-md-7">
                  <p class="card-title detail-font-17 detail-weight-17 mb-0">Periode</p>
                </div>
                <div class="col-5 col-md-5" style="padding-left: 0;">
                  <p class="card-title text-detail-lot detail-weight-17 mb-0">0,0 - 0,0% per 3 Bulan</p>
                </div>
              </div>              
            </div>
          </div>
          <div class="col-12 col-md-12 p-3 card-btn-buy pb-0">
            <button class="btn btn-prospektus">Download Prospektus</button>
          </div>   
        </div>
        <div class="tab-pane fade p-3" id="nav-desc-bisnis" role="tabpanel" aria-labelledby="nav-desc-bisnis-tab">
          <div class="col-12 col-md-12 title-bisnis">
            <p>Title Goes Here</p>
          </div>
          <div class="col-12 col-md-12 desc-bisnis">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip

              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        </div>
        <div class="tab-pane fade p-3" id="nav-location" role="tabpanel" aria-labelledby="nav-location-tab">
          {% for i in range(0, 4) %}
          <div>
            <img width="325" src="{{ url_for('static', filename='images/master_cuan/maps.png') }}">
            <p class="title-location">Lokasi Bisnis</p>
            <p class="desc-location mb-0">Jl. Manggis 2 No. 2A, Kel.
              Tanjung Duren Utara, Kec. Grogol
              Petamburan, Jakarta 11470</p>
              <div class="col-12 col-md-12 card-btn-buy mb-3">
                <a href="" class="btn btn-prospektus">Buka Google Maps</a>
              </div>
          </div>
          {% endfor %}
        </div>
        <div class="tab-pane fade p-3" id="nav-kalkulator" role="tabpanel" aria-labelledby="nav-kalkulator-tab" style="text-align-last: left;">
          <div class="row">
            <div class="col-7 col-md-7">
              <p class="card-title detail-lot">Harga per Lot</p>
            </div>
            <div class="col-5 col-md-5" style="padding-left: 0;">
              <p class="card-title detail-lot">Estimasi Dividen</p>
            </div>
          </div>
          <div class="row">
            <div class="col-7 col-md-7">
              <p class="card-title detail-font-17 detail-weight-17 mb-0"><span>Rp</span>1.000.000</p>
            </div>
            <div class="col-5 col-md-5" style="padding-left: 0;">
              <p class="card-title text-detail-lot detail-weight-17 mb-0">0,0 - 0,0% per 3 Bulan</p>
            </div>
          </div>
          <hr/>
          <div class="border-kalku">
            <div class="col-12 col-md-12">
              <p class="card-title detail-lot">Total Investasi</p>
            </div>
            <div class="col-12 col-md-12">
              <p class="card-title detail-font-17 detail-weight-17 mb-0"><span>Rp</span>1.000.000</p>
            </div>
          </div>
          <div class="border-kalku mt-3">
            <div class="col-12 col-md-12">
              <p class="card-title detail-lot">Keuntungan per tahun berdasarkan data historis</p>
            </div>
            <div class="col-12 col-md-12">
              <p class="card-title detail-font-17 detail-weight-17 mb-0">Rp 00.000 - Rp 00.000</p>
            </div>
          </div>
          <div class="border-kalku mt-3">
            <div class="col-12 col-md-12">
              <p class="card-title detail-lot">Perkiraan dividen yield per tahun berdasarkan
                data historis</p>
            </div>
            <div class="col-12 col-md-12">
              <p class="card-title detail-font-17 detail-weight-17 mb-0">00% - 00%</p>
            </div>
          </div>
          <div class="row border-kalku mt-3 mx-0" style="border: 1px solid #CEE6F4;">
            <div class="col-2 col-md-2">
              <p class="card-title icon-info mb-0">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </p>
            </div>
            <div class="col-10 col-md-10">
              <p class="card-title detail-font-17 mb-0" style="font-size: 10px;">Kinerja masa lalu bukan merupakan indikasi kinerja masa depan.</p>
            </div>
          </div>
        </div>
      </div>
      <div style="background-color: #fff;" class="p-3 pt-0">
        <div class="col-12 col-md-12 card-btn-buy">
          <button class="btn btn-signin">Beli</button>
        </div>
      </div>
    </div>
    
  </div>

{% endblock content %}