{% extends "layout.html" %}
{% block content %}
  <style>
    
    .banner-profile {
      text-align-last: center;
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .box-space {
      padding-left: 25px; 
      padding-right: 25px;
    }

    .menu-back p {
      text-align-last: left;
      font-size: 17px;
      color: #222222;
      font-weight: 700;
    }

    .title-reward {
      color: #425766;
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 8px;
    }

    .background-reward {
      background: #F5F5F7;
      border-radius: 8px;
      padding: 15px;
    }

    .reward-active {
      background: #00B242 !important;
      box-shadow: 0px 4px 4px rgb(213 213 213 / 30%);
    }

    .subtitle-reward {
      font-size: 17px;
      color:#425766;
    }

    .desc-reward {
      font-size: 14px;
      color:#425766;
    }

    .desc-reward-active {
      color:#fff;
    }

    #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #673AB7
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
    position: inherit;
    z-index: 1;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 6px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #673AB7
}

  </style>

  <div class="frame-size">
    <div class="banner-profile">
      <div class="row box-space" style="margin-bottom: 15px;">
        <div class="col-6 col-md-6 menu-back">
          <p>Profile</p>
        </div>
        <div class="col-6 col-md-6 menu-back" style="text-align-last: right;">
          <img class="img-back" width="26" src="{{ url_for('static', filename='images/master_cuan/chevron.png') }}">
        </div>
      </div>
      <div class="row box-space">
        <div class="col-sm-6 col-md-8 text-name">
          <p>Hai, Wreda Prasetiyo W</p>
        </div>
        <div class="col-sm-6 col-md-4 text-lot">
          <p>Total Lot : 0</p>
        </div>
      </div>
      <div class="row box-space" style="justify-content: center;">
        <div class="col-3 col-md-3">
          <p class="emoji">&#128578;</p>
          <p class="total-lot mt-2">0 Lot</p>
        </div>
      </div>
    </div>
    <div class="banner-body">
      <section>
        <ul id="progressbar">
          <li class="active" id="account"><strong>20 Lot</strong></li>
          <li id="personal"><strong>50 Lot</strong></li>
          <li id="payment"><strong>100 Lot</strong></li>
          <li id="confirm"><strong>250 Lot</strong></li>
      </ul>
      </section>
      <!-- Reward -->
      <section> 
        <div style="margin-top: 90px;">
          <p class="title-reward">Reward</p>    
          <div class="background-reward reward-active">
            <p class="subtitle-reward desc-reward-active">Reward - 20 Lot</p>
            <p class="desc-reward desc-reward-active">Offline bootcamp finance with the expert + happy hour meet up di satu tempat untuk 100 orang (batch system - per batch ada 20 orang)</p>
          </div>
        </div>
        <div class="mt-4">
          <p class="title-reward">Waiting to be unlocked</p>    
          <div class="background-reward">
            <p class="subtitle-reward">Reward - 50 Lot</p>
            <p class="desc-reward">Offline bootcamp finance with the expert + happy hour meet up di satu tempat untuk 100 orang (batch system - per batch ada 20 orang)</p>
          </div>
        </div>
      </section>
    </div>
    <!-- Footer TODO: move to layout -->
    <footer style="background-color: #fff;">
      <div class="row text-center pt-3 pb-3 footer-menu">
        <div class="col-md-4">
          <a href="/home">
            <img src="{{ url_for('static', filename='images/master_cuan/home.png') }}">
            <p class="">Home</p>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/cara-kerja">
            <img src="{{ url_for('static', filename='images/master_cuan/insight.png') }}">
            <p>Cara Kerja</p>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/profile">
            <img src="{{ url_for('static', filename='images/master_cuan/user_active.png') }}">
            <p class="footer-menu-active">Profile</p>
          </a>
        </div>
      </div>
    </footer>
  </div>

{% endblock content %}