{% extends "layout.html" %}
{% block content %}

<style>
  .profile-range {
    width: 100%;
  }

  .container-range-profile .profile-range {
    background-color: #fff;
  }

  .container-range-profile #range-profile span {
    background-color: red;
    width: 24px;
    height: 24px;
    color: yellow;
  }

  .steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .step-button {
    width: 18px;
    height: 18px;
    padding: 11px;
    border-radius: 50%;
    border: none;
    background-color: #efefef;
    transition: .4s;
    margin-top: -10px;
  }

  .step-button[aria-expanded="true"] {
    width: 18px;
    height: 18px;
    background-color: #0075ff;
    color: #fff;
  }

  .done {
    background-color: #0075ff;
    color: #fff;
  }

  .step-item {
    z-index: 10;
    text-align: center;
  }

  #progress-games {
    -webkit-appearance: none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 8px;
    margin-bottom: 13px;
  }

  /* to customize progress bar */
  #progress-games::-webkit-progress-value {
    background-color: #0075ff;
    transition: .5s ease;
  }

  #progress-games::-webkit-progress-bar {
    background-color: #efefef;

  }

  .ml-20 {
    margin-left: 20px;
  }

  .ml-min-10 {
    margin-left: -10px;
  }

  .v-hide {
    visibility: hidden;
  }

  .step-title {
    margin-top: 4px;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #768C9E;
  }
</style>

<div class="container-sm">
  <div class="banner-profile pb-3">
    <div class="row box-space" style="margin-bottom: 15px;">
      <div class="col-6 col-md-6 menu-back">
        <p>Profile</p>
      </div>
      <div class="col-6 col-md-6 menu-back" style="text-align-last: right;">
        <img width="24" src="{{ url_for('static', filename='images/master_cuan/chevron.png') }}">
      </div>
    </div>
    <div class="row box-space">
      <div class="col-sm-6 col-md-8 text-name">
        <p>Hai, Wreda Prasetiyo W</p>
      </div>
      <div class="col-sm-6 col-md-4 text-lot">
        <p>Total Lot : 0</p>
      </div>
    </div>
    <div class="row box-space" style="justify-content: center;">
      <div class="col-3 col-md-3">
        <p class="emoji" id="icon-emoji">&#128578;</p>
        <p class="total-lot mt-2">0 Lot</p>
      </div>
    </div>
  </div>

  <div class="container" style="background-color: #fff;">
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordionExample">
          <div class="steps">
            <progress id="progress-games" max=4></progress>
            <div class="step-item v-hide">
              <button class="step-button text-center step-button-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">

              </button>
              <div class="step-title">
                20 Lot
              </div>
            </div>
            <div class="step-item">
              <button class="step-button text-center step-button-1 ml-min-10" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

              </button>
              <div class="step-title">
                20 Lot
              </div>
            </div>
            <div class="step-item">
              <button class="step-button text-center  step-button-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

              </button>
              <div class="step-title">
                50 Lot
              </div>
            </div>
            <div class="step-item">
              <button class="step-button text-center  step-button-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">

              </button>
              <div class="step-title">
                100 Lot
              </div>
            </div>
            <div class="step-item">
              <button class="step-button text-center  step-button-4" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">

              </button>
              <div class="step-title">
                250 Lot
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-body">
    <!-- Reward -->
    <section>
      <div class="mt-6">
        <p class="title-reward title-reward-1 d-none">Reward</p>
        <div class="background-reward reward-active mb-3 reward-unlock-1 d-none">
          <p class="subtitle-reward desc-reward-active">Reward - 20 Lot</p>
          <p class="desc-reward desc-reward-active">Mini Finance Bootcamp with Experts</p>
        </div>
        <div class="background-reward reward-active mb-3 reward-unlock-2 d-none">
          <p class="subtitle-reward desc-reward-active">Reward - 50 Lot</p>
          <p class="desc-reward desc-reward-active">EXCLUSIVE Mini Finance Bootcamp with Experts</p>
        </div>
        <div class="background-reward reward-active mb-3 reward-unlock-3 d-none">
          <p class="subtitle-reward desc-reward-active">Reward - 100 Lot</p>
          <p class="desc-reward desc-reward-active">Offline Finance Bootcamp with Experts Happy Hour Meetup & Discussion
            with Speakers</p>
        </div>
        <div class="background-reward reward-active mb-3 reward-unlock-4 d-none">
          <p class="subtitle-reward desc-reward-active">Reward - 250 Lot</p>
          <p class="desc-reward desc-reward-active">Offline Bootcamp Finance with Experts Business tour</p>
        </div>
      </div>
      <div class="mt-4">
        <p class="title-reward title-reward-2">Waiting to be unlocked</p>
        <div class="background-reward mb-3 reward-lock-1">
          <p class="subtitle-reward">Reward - 20 Lot</p>
          <p class="desc-reward">Mini Finance Bootcamp with Experts</p>
        </div>
        <div class="background-reward mb-3 reward-lock-2 d-none">
          <p class="subtitle-reward">Reward - 50 Lot</p>
          <p class="desc-reward">EXCLUSIVE Mini Finance Bootcamp with Experts</p>
        </div>
        <div class="background-reward mb-3 reward-lock-3 d-none">
          <p class="subtitle-reward">Reward - 100 Lot</p>
          <p class="desc-reward">Offline Finance Bootcamp with Experts Happy Hour Meetup & Discussion with Speakers</p>
        </div>
        <div class="background-reward mb-3 reward-lock-4 d-none">
          <p class="subtitle-reward">Reward - 250 Lot</p>
          <p class="desc-reward">Offline Bootcamp Finance with Experts Business tour</p>
        </div>
      </div>
    </section>
  </div>
  <!-- Footer TODO: move to layout -->
  <div class="row text-center pt-3 pb-3 footer-menu">
    <div class="col-md-4">
      <a href="/home">
        <img src="{{ url_for('static', filename='images/master_cuan/home.png') }}">
        <p class="">Home</p>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/cara-kerja">
        <img src="{{ url_for('static', filename='images/master_cuan/insight.png') }}">
        <p>Cara Kerja</p>
      </a>
    </div>
    <div class="col-md-4">
      <a href="/profile">
        <img src="{{ url_for('static', filename='images/master_cuan/user_active.png') }}">
        <p class="footer-menu-active">Profile</p>
      </a>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script>
  let valOrder = -1;
  const stepButtons = document.querySelectorAll('.step-button');
  let progress = document.querySelector('#progress-games');
  const circle1 = document.querySelector('.step-button-1')
  const circle2 = document.querySelector('.step-button-2')
  const circle3 = document.querySelector('.step-button-3')
  const circle4 = document.querySelector('.step-button-4')
  progress.value = 0

  if (valOrder >= 0) {
    circle1.classList.add('done');
    progress.value = 1
  }
  if (valOrder >= 1) {
    circle2.classList.add('done');
    progress.value = 2
  }
  if (valOrder >= 2) {
    circle3.classList.add('done');
    progress.value = 3
  }
  if (valOrder >= 3) {
    circle4.classList.add('done');
    progress.value = 4
  }
  if (valOrder < 0) {
    circle1.classList.remove('done');
  }
  if (valOrder < 1) {
    circle2.classList.remove('done');
  }
  if (valOrder < 2) {
    circle3.classList.remove('done');
  }
  if (valOrder < 3) {
    circle4.classList.remove('done');
  }
</script>
<script>
  let icon = document.querySelector('#icon-emoji')
  if (valOrder >= 0) {
    icon.innerHTML = '😘'
  }
  if (valOrder >= 1) {
    icon.innerHTML = '😍'
  }
  if (valOrder >= 2) {
    icon.innerHTML = '😎'
  }
  if (valOrder >= 3) {
    icon.innerHTML = '🤑'
  }
</script>
<script>
  const rewardUnlock1 = document.querySelector('.reward-unlock-1');
  const rewardUnlock2 = document.querySelector('.reward-unlock-2');
  const rewardUnlock3 = document.querySelector('.reward-unlock-3');
  const rewardUnlock4 = document.querySelector('.reward-unlock-4');
  const rewardlock1 = document.querySelector('.reward-lock-1');
  const rewardlock2 = document.querySelector('.reward-lock-2');
  const rewardlock3 = document.querySelector('.reward-lock-3');
  const rewardlock4 = document.querySelector('.reward-lock-4');
  const titleReward1 = document.querySelector('.title-reward-1');
  const titleReward2 = document.querySelector('.title-reward-2');

  if (valOrder >= 0) {
    titleReward1.classList.remove('d-none')
    rewardUnlock1.classList.remove('d-none');
    rewardlock1.classList.add('d-none');
    rewardlock2.classList.remove('d-none');
  }
  if (valOrder >= 1) {
    rewardUnlock2.classList.remove('d-none');
    rewardlock2.classList.add('d-none');
    rewardlock3.classList.remove('d-none');
  }
  if (valOrder >= 2) {
    rewardUnlock3.classList.remove('d-none');
    rewardlock3.classList.add('d-none');
    rewardlock4.classList.remove('d-none');
  }
  if (valOrder >= 3) {
    rewardUnlock4.classList.remove('d-none');
    rewardlock4.classList.add('d-none');
    titleReward2.classList.add('d-none');
  }
</script>
{% endblock content %}